/* swiper container */
.slide-container {
    overflow: visible !important;
    position: relative;
    padding: 40px 0;
    margin: 0 auto;
    max-width: 85%;
}

.slide-content {
    padding: 20px;
    overflow: hidden;
    border-radius: 10px;
}

/* Styling Nama Dosen */
.name-box {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* button buat swiper */
.swiper-navBtn {
    color: #c94bf1;
    transition: all 0.3s ease;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* Shadow dipertebal sedikit biar kelihatan floating */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10; /* Pastikan di atas segalanya */
}

.swiper-navBtn:hover {
    color: #7e2e96;
    background-color: #fff;
    transform: scale(1.1); /* Efek membesar sedikit */
}

/* Override panah default swiper */
.swiper-navBtn::before,
.swiper-navBtn::after {
    display: none;
}

.swiper-button-next {
    right: -80px; /* Geser ke kanan luar container */
}

.swiper-button-prev {
    left: -80px; /* Geser ke kiri luar container */
}

/* button size dan bullet */
.swiper-navBtn i {
    font-size: 2rem;
}

.swiper-pagination-bullet {
    background-color: #adb5bd;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background-color: #c94bf1;
}

/* ini punya card dosennya */
.profile-card {
    position: relative;
    z-index: 1;
    /* overflow: visible; */
    transition: transform 0.3s ease;
}

/* Efek Hover: Card naik sedikit */
.profile-card:hover {
    transform: translateY(-5px);
    z-index: 2;
}

/* gambar dan warna gambar */
.image-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    row-gap: 5px;
}

/* border rasiud dan warna */
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0 0;
    background: linear-gradient(135deg, #4338ca 0%, #64748b 100%);
}

/* Container lingkaran foto */
.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 1px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
}
